body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c0c0c0;
  color: white;
  padding: 10px 0;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.element {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-color: #db7134;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#element1 {
  transform: translateX(0); /* Startpositie */
}

#element2 {
  transform: translateX(-300px); /* Start 300px naar links */
}

#element3 {
  transform: translateY(200px); /* Startpositie onderaan */
}
