* {
  margin: 0;
  padding: 0;
}

.body {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.top_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.nav {
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 7vw;
  background-color: black;
}

.icons {
  background-color: #404040;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.icon {
  color: white;
  width: 50%;
  height: 50%;
}

.pair {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 55vh;
}

.body {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.orderList{
  background-color: black;
  border-radius: 20px;
  margin: 50px;
  color: white;
}

.order {
  display: flex;
  flex-direction: row;
}

.text {
  display: flex;
  flex-direction: column;
}

.status{
  padding: 2px;
  border-radius: 5px;
}