* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #003399;
  color: white;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #0066cc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.highlight {
  color: #ffffff;
  background-color: #0073e6;
  padding: 0 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-item.completed {
  text-decoration: line-through;
  background-color: #d9d9d9;
}

.todo-item .actions {
  display: flex;
  gap: 10px;
}

.todo-item .check-button {
  background-color: #00cc66;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.todo-item .delete-button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.todo-item-input {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.todo-item-input input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}

.todo-item-input .add-button {
  background-color: #0073e6;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
